{% extends "base.html.twig" %}

{% block title %}Modification de mot de passe{% endblock %}
{% block stylesheets %}

{% endblock %}


{% block body %}
  <section id="content">
			<div class="content-wrap py-0">

				<div class="section dark p-0 m-0 h-100 position-absolute"></div>

				<div class="section bg-transparent min-vh-100 p-0 m-0 d-flex">
					<div class="vertical-middle">
						<div class="container py-5">

							<div class="text-center">
								<a href=""><h2 class="text-center">Modifiez votre mot de passe</h2></a>
							</div>


							<div class="card mx-auto rounded-0 border-0" style="max-width: 400px;">
								<div class="card-body" style="padding: 40px;">
									{{ form_start(form) }}
                  <div class="row">
											<div class="col-12 form-group">
												{{ form_row(form.oldPassword,{'label': 'Ancien mot de passe'}) }}
											</div>

											<div class="col-12 form-group">
												{{ form_row(form.newPassword,{'label': 'Nouveau mot de passe'}) }}
											</div>
											<div class="col-12 form-group">
												{{ form_row(form.confirmPassword,{'label': 'Confirmation mot de passe'}) }}
											</div>

											<div class="col-12 form-group mb-0">
												<button class="button button-3d button-black m-0" id="login-form-submit" name="" value="login">Valide !</button>
												<a href="#" class="float-right">Mot de passe oublié?</a>
											</div>
										</div>
                  {{ form_widget(form) }}

                  {{ form_end(form) }}


						</div>
					</div>
				</div>

			</div>
		</section>
{% endblock %}
