{% block _cv_formations_widget %}
    {{ form_widget(form,{'attr' :{'class' : ''}}) }}
    <input type="hidden" value="0" id="widgets-counter">
    <div class="form-group">
      <button type="button" id="cv-formation" class="btn btn-primary ">Ajouter une formation</button>
    </div>
{% endblock %}

{% block _cv_formations_entry_row %}
    <div class="col-10">
      {{ form_widget(form) }}
    </div>
{% endblock %}

{% block _cv_formations_entry_widget %}
    <div class="form-group shadow bg-light border " id="block_{{id}}">
      <div class="form-row ml-5">
        <div class="col-4 form-group mt-3" >DATE DEBUT: {{ form_widget(form.dateDebut,{'attr' :{'class' : 'form-control datepicker valid'}} ) }} </div>
        <div class="col-4 form-group mt-3" >DATE FIN: {{ form_widget(form.dateFin,{'attr' :{'class' : 'form-control datepicker',
                                                                                                        }} ) }} </div>
        <div class="col-4 ">
          <div class=" col-2 float-right">
            <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
          </div>
        </div>
      </div>
      <div class="form-row ml-5">
        <div class="form-group col-md-5">
          {{ form_widget(form.titre) }}
          {{ form_errors(form.titre) }}
        </div>
        <div class="form-group col-md-5 ml-5">
            {{ form_widget(form.nomEcole) }}
            {{ form_errors(form.nomEcole) }}
        </div>
      </div>
      <div class="form-row ml-5">
        <div class="col-10 form-group mb-4">
          {{ form_row(form.description) }}
        </div>
      </div>
    </div>
{% endblock %}
{% block _cv_experiences_widget %}
    {{ form_widget(form) }}
    <input type="hidden" value="0" id="widgets-counter_1">
    <div class="form-group">
      <button type="button" id="cv-experience" class="btn btn-primary ">Ajouter une experience</button>
    </div>
{% endblock %}

{% block _cv_experiences_entry_row %}
<div class="col-10">
    {{ form_widget(form) }}
</div>
{% endblock %}

{% block _cv_experiences_entry_widget %}
    <div class="form-group shadow bg-light border" id="block_{{id}}">
      <div class="form-row ml-5">
        <div class="col-4 form-group mt-3" >DATE DEBUT: {{ form_widget(form.dateDebut,{'attr' :{'class' : 'form-control datepicker valid'}} ) }} </div>
        <div class="col-4 form-group mt-3" >DATE FIN: {{ form_widget(form.dateFin,{'attr' :{'class' : 'form-control datepicker',
                                                                                                        }} ) }} </div>
        <div class="col-4  ">
        <div class="col-2 float-right">
            <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn  btn-danger">X</button>
        </div>
        </div>
      </div>
      <div class="form-row ml-5">
        <div class="form-group col-md-5">
          {{ form_widget(form.poste) }}
          {{ form_errors(form.poste) }}
        </div>
        <div class="form-group col-md-5">
            {{ form_widget(form.entreprise) }}
            {{ form_errors(form.entreprise) }}
        </div>
      </div>
      <div class="form-row ml-5">
        <div class="col-10 form-group mb-4">
          {{ form_row(form.description) }}
        </div>
      </div>
    </div>
{% endblock %}
 {% block _cv_niveauExperience_row %}
<div class="form-row ml-5 ">
        <div class="col-md-3 py-1">
          {{ form_label(form) }} :
        </div>
        <div class="form-group col-md-5">
          {{ form_widget(form,{'attr' :{'class' : 'selectpicker'}}) }}
          {{ form_errors(form) }}
        </div>
      </div>
{% endblock %}
 {% block _cv_niveauEtude_row %}
    <div class="form-row ml-5">
        <div class="col-md-2 py-1">
          {{ form_label(form) }} :
        </div>
        <div class="form-group col-md-5">
          {{ form_widget(form,{'attr' :{'class' : 'selectpicker'}}) }}
          {{ form_errors(form) }}
        </div>

      </div>
{% endblock %}
{# {% for secteur in critere.secteurActivite %}
{% block _critere_secteurActivite_{{secteur.id}}_row %}
<div class="form-row">
  <div class="col-md-2 py-1">
      {{ form_label(form) }} :
    </div>
    <div class="form-group col-md-5">
      {{ form_widget(form) }}
      {{ form_errors(form) }}
    </div>
</div>

{% endblock %}
{% endfor %} #}
{# {% block form_row %}

      {{ form_errors(form) }}
      <div class="col-3 form-group">

         {{ form_widget(form) }}

      </div>

{% endblock %} #}
{#
{% block text_widget %}
  <input type="text" name="{{full_name}}" id="{{id}}" class="form-control">
{% endblock %}

{% block url_widget %}

{% endblock %}


{% block tel_widget %}

    {{ form_widget(form) }}

{% endblock %}#}
{% block email_row  %}
      {{ form_errors(form) }}
        <div class="col-4 form-group">

         {{ form_widget(form) }}

        </div>
{% endblock %}
{% block password_row  %}
      {{ form_errors(form) }}
      <div class="col-4 form-group">

         {{ form_widget(form) }}

      </div>
{% endblock %}
{# {% block textarea_row %}
        <div class="col-12 form-group mb-4">
  <textarea name="website-cost-message" id="website-cost-message" class="form-control" cols="30" rows="10" aria-hidden="true" style="display: none;">
  </textarea><div role="application" class="tox tox-tinymce" style="visibility: hidden; height: 254px;"><div class="tox-editor-container"><div data-alloy-vertical-dir="toptobottom" class="tox-editor-header"><div role="group" class="tox-toolbar-overlord" aria-disabled="false"><div role="group" class="tox-toolbar__primary"><div title="history" role="toolbar" data-alloy-tabstop="true" tabindex="-1" class="tox-toolbar__group"><button aria-label="Undo" title="Undo" type="button" tabindex="-1" class="tox-tbtn tox-tbtn--disabled" aria-disabled="true"><span class="tox-icon tox-tbtn__icon-wrap"><svg width="24" height="24"><path d="M6.4 8H12c3.7 0 6.2 2 6.8 5.1.6 2.7-.4 5.6-2.3 6.8a1 1 0 01-1-1.8c1.1-.6 1.8-2.7 1.4-4.6-.5-2.1-2.1-3.5-4.9-3.5H6.4l3.3 3.3a1 1 0 11-1.4 1.4l-5-5a1 1 0 010-1.4l5-5a1 1 0 011.4 1.4L6.4 8z" fill-rule="nonzero"></path></svg></span></button><button aria-label="Redo" title="Redo" type="button" tabindex="-1" class="tox-tbtn tox-tbtn--disabled" aria-disabled="true"><span class="tox-icon tox-tbtn__icon-wrap"><svg width="24" height="24"><path d="M17.6 10H12c-2.8 0-4.4 1.4-4.9 3.5-.4 2 .3 4 1.4 4.6a1 1 0 11-1 1.8c-2-1.2-2.9-4.1-2.3-6.8.6-3 3-5.1 6.8-5.1h5.6l-3.3-3.3a1 1 0 111.4-1.4l5 5a1 1 0 010 1.4l-5 5a1 1 0 01-1.4-1.4l3.3-3.3z" fill-rule="nonzero"></path></svg></span></button></div><div title="styles" role="toolbar" data-alloy-tabstop="true" tabindex="-1" class="tox-toolbar__group"><button title="Formats" aria-label="Formats" aria-haspopup="true" type="button" unselectable="on" tabindex="-1" class="tox-tbtn tox-tbtn--select tox-tbtn--bespoke" aria-expanded="false" style="user-select: none;"><span class="tox-tbtn__select-label">Paragraph</span><div class="tox-tbtn__select-chevron"><svg width="10" height="10"><path d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 010-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8z" fill-rule="nonzero"></path></svg></div></button></div><div title="formatting" role="toolbar" data-alloy-tabstop="true" tabindex="-1" class="tox-toolbar__group"><button aria-label="Bold" title="Bold" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false" aria-pressed="false"><span class="tox-icon tox-tbtn__icon-wrap"><svg width="24" height="24"><path d="M7.8 19c-.3 0-.5 0-.6-.2l-.2-.5V5.7c0-.2 0-.4.2-.5l.6-.2h5c1.5 0 2.7.3 3.5 1 .7.6 1.1 1.4 1.1 2.5a3 3 0 01-.6 1.9c-.4.6-1 1-1.6 1.2.4.1.9.3 1.3.6s.8.7 1 1.2c.4.4.5 1 .5 1.6 0 1.3-.4 2.3-1.3 3-.8.7-2.1 1-3.8 1H7.8zm5-8.3c.6 0 1.2-.1 1.6-.5.4-.3.6-.7.6-1.3 0-1.1-.8-1.7-2.3-1.7H9.3v3.5h3.4zm.5 6c.7 0 1.3-.1 1.7-.4.4-.4.6-.9.6-1.5s-.2-1-.7-1.4c-.4-.3-1-.4-2-.4H9.4v3.8h4z" fill-rule="evenodd"></path></svg></span></button><button aria-label="Italic" title="Italic" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false" aria-pressed="false"><span class="tox-icon tox-tbtn__icon-wrap"><svg width="24" height="24"><path d="M16.7 4.7l-.1.9h-.3c-.6 0-1 0-1.4.3-.3.3-.4.6-.5 1.1l-2.1 9.8v.6c0 .5.4.8 1.4.8h.2l-.2.8H8l.2-.8h.2c1.1 0 1.8-.5 2-1.5l2-9.8.1-.5c0-.6-.4-.8-1.4-.8h-.3l.2-.9h5.8z" fill-rule="evenodd"></path></svg></span></button></div><div title="alignment" role="toolbar" data-alloy-tabstop="true" tabindex="-1" class="tox-toolbar__group"><button aria-label="Align left" title="Align left" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false" aria-pressed="false"><span class="tox-icon tox-tbtn__icon-wrap"><svg width="24" height="24"><path d="M5 5h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 110-2zm0 4h8c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 110-2zm0 8h8c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 010-2zm0-4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 010-2z" fill-rule="evenodd"></path></svg></span></button><button aria-label="Align center" title="Align center" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false" aria-pressed="false"><span class="tox-icon tox-tbtn__icon-wrap"><svg width="24" height="24"><path d="M5 5h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 110-2zm3 4h8c.6 0 1 .4 1 1s-.4 1-1 1H8a1 1 0 110-2zm0 8h8c.6 0 1 .4 1 1s-.4 1-1 1H8a1 1 0 010-2zm-3-4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 010-2z" fill-rule="evenodd"></path></svg></span></button><button aria-label="Align right" title="Align right" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false" aria-pressed="false"><span class="tox-icon tox-tbtn__icon-wrap"><svg width="24" height="24"><path d="M5 5h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 110-2zm6 4h8c.6 0 1 .4 1 1s-.4 1-1 1h-8a1 1 0 010-2zm0 8h8c.6 0 1 .4 1 1s-.4 1-1 1h-8a1 1 0 010-2zm-6-4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 010-2z" fill-rule="evenodd"></path></svg></span></button><button aria-label="Justify" title="Justify" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false" aria-pressed="false"><span class="tox-icon tox-tbtn__icon-wrap"><svg width="24" height="24"><path d="M5 5h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 110-2zm0 4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 110-2zm0 4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 010-2zm0 4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 010-2z" fill-rule="evenodd"></path></svg></span></button></div><div title="indentation" role="toolbar" data-alloy-tabstop="true" tabindex="-1" class="tox-toolbar__group"><button aria-label="Decrease indent" title="Decrease indent" type="button" tabindex="-1" class="tox-tbtn tox-tbtn--disabled" aria-disabled="true"><span class="tox-icon tox-tbtn__icon-wrap"><svg width="24" height="24"><path d="M7 5h12c.6 0 1 .4 1 1s-.4 1-1 1H7a1 1 0 110-2zm5 4h7c.6 0 1 .4 1 1s-.4 1-1 1h-7a1 1 0 010-2zm0 4h7c.6 0 1 .4 1 1s-.4 1-1 1h-7a1 1 0 010-2zm-5 4h12a1 1 0 010 2H7a1 1 0 010-2zm1.6-3.8a1 1 0 01-1.2 1.6l-3-2a1 1 0 010-1.6l3-2a1 1 0 011.2 1.6L6.8 12l1.8 1.2z" fill-rule="evenodd"></path></svg></span></button><button aria-label="Increase indent" title="Increase indent" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false"><span class="tox-icon tox-tbtn__icon-wrap"><svg width="24" height="24"><path d="M7 5h12c.6 0 1 .4 1 1s-.4 1-1 1H7a1 1 0 110-2zm5 4h7c.6 0 1 .4 1 1s-.4 1-1 1h-7a1 1 0 010-2zm0 4h7c.6 0 1 .4 1 1s-.4 1-1 1h-7a1 1 0 010-2zm-5 4h12a1 1 0 010 2H7a1 1 0 010-2zm-2.6-3.8L6.2 12l-1.8-1.2a1 1 0 011.2-1.6l3 2a1 1 0 010 1.6l-3 2a1 1 0 11-1.2-1.6z" fill-rule="evenodd"></path></svg></span></button></div></div></div><div class="tox-anchorbar"></div></div><div class="tox-sidebar-wrap"><div class="tox-edit-area"><iframe id="website-cost-message_ifr" frameborder="0" allowtransparency="true" title="Rich Text Area. Press ALT-0 for help." class="tox-edit-area__iframe"></iframe></div><div role="complementary" class="tox-sidebar"><div data-alloy-tabstop="true" tabindex="-1" class="tox-sidebar__slider tox-sidebar--sliding-closed" style="width: 0px;"><div class="tox-sidebar__pane-container"></div></div></div></div></div><div class="tox-statusbar"><div class="tox-statusbar__text-container"><div role="navigation" data-alloy-tabstop="true" class="tox-statusbar__path" aria-disabled="false"><div role="button" data-index="0" tab-index="-1" aria-level="1" tabindex="-1" class="tox-statusbar__path-item" aria-disabled="false">p</div></div><span class="tox-statusbar__branding"><a href="https://www.tiny.cloud/?utm_campaign=editor_referral&amp;utm_medium=poweredby&amp;utm_source=tinymce&amp;utm_content=v5" rel="noopener" target="_blank" tabindex="-1" aria-label="Powered by Tiny">Powered by Tiny</a></span></div><div title="Resize" aria-hidden="true" class="tox-statusbar__resize-handle"><svg width="10" height="10"><g fill-rule="nonzero"><path d="M8.1 1.1A.5.5 0 119 2l-7 7A.5.5 0 111 8l7-7zM8.1 5.1A.5.5 0 119 6l-3 3A.5.5 0 115 8l3-3z"></path></g></svg></div></div><div aria-hidden="true" class="tox-throbber" style="display: none;"></div></div>
</div>

{% endblock %} #}
{#{% block _registration_candidat_civilite_widget  %}
  <div class="col-2 form-group">

    <select class="form-control required" name="{{full_name}}" id="{{id}}">
      <option value="">-- Civilité --</option>
      <option value="Mr">Mr</option>
      <option value="Mme">Mme</option>
      <option value="Mlle">Mlle</option>
    </select>

  </div>
{% endblock %}#}
{% block _registration_candidat_firstName_row  %}
      {{ form_errors(form) }}
      <div class="col-4 form-group">

         {{ form_widget(form) }}

      </div>
{% endblock %}
{# {% block choice_row  %}
        {{ form_label(form) }}
      <div class="col-4 form-group">
       {{ form_errors(form) }}
         {{ form_widget(form) }}

      </div>
{% endblock %} #}
{% block _critere_row %}
  <div class="from-row">
    {{ form_widget(form) }}
  </div>
{% endblock %}
{# <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>

<table id="field-candidat-formation-values" class="field-multiple-table tabledrag-processed">
  <thead><tr><th colspan="2" class="field-label">Formation <span class="applicate-required" title="Requis pour postuler !">*</span> </th><th class="tabledrag-hide" style="display: none;">Commande</th> </tr></thead>
  <tbody>
    <tr class="draggable odd drag-previous">
      <td class="field-multiple-drag">
        <a href="#" class="tabledrag-handle" title="Cliquer-déposer pour ré-organiser">
          <div class="handle">&nbsp;</div>
        </a>
      </td>
      <td>
        <div class="form-field-candidat-formation-wrapper">
          <div class="form-item form-field-candidat-formation form-type-emaxp-widget form-item-field-candidat-formation-und-0" id="edit-field-candidat-formation-und-0-wrapper">
            <div class="container-inline-date">
              <div class="form-item form-field-candidat-formation emaxp-date-start-wrapper form-type-date-select form-item-field-candidat-formation-und-0-emaxp-date-start" id="edit-field-candidat-formation-und-0-emaxp-date-start-wrapper">
                <label for="edit-field-candidat-formation-und-0-emaxp-date-start">Date de début </label>
                  <div id="edit-field-candidat-formation-und-0-emaxp-date-start" class="date-padding clearfix">
                    <div class="date-month">
                      <select class="emaxp-date-start form-select" id="edit-field-candidat-formation-und-0-emaxp-date-start-month" name="field_candidat_formation[und][0][emaxp_date_start][month]" style="color: rgb(0, 0, 0);"><option value="" selected="selected">-Mois</option><option value="1">Jan</option><option value="2">Fév</option><option value="3">Mar</option><option value="4">Avr</option><option value="5">Mai</option><option value="6">Juin</option><option value="7">Juil</option><option value="8">Aoû</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Déc</option></select></div><div class="date-year"><select class="emaxp-date-start form-select" id="edit-field-candidat-formation-und-0-emaxp-date-start-year" name="field_candidat_formation[und][0][emaxp_date_start][year]" style="color: rgb(0, 0, 0);"><option value="" selected="selected">-Année</option><option value="1966">1966</option><option value="1967">1967</option><option value="1968">1968</option><option value="1969">1969</option><option value="1970">1970</option><option value="1971">1971</option><option value="1972">1972</option><option value="1973">1973</option><option value="1974">1974</option><option value="1975">1975</option><option value="1976">1976</option><option value="1977">1977</option><option value="1978">1978</option><option value="1979">1979</option><option value="1980">1980</option><option value="1981">1981</option><option value="1982">1982</option><option value="1983">1983</option><option value="1984">1984</option><option value="1985">1985</option><option value="1986">1986</option><option value="1987">1987</option><option value="1988">1988</option><option value="1989">1989</option><option value="1990">1990</option><option value="1991">1991</option><option value="1992">1992</option><option value="1993">1993</option><option value="1994">1994</option><option value="1995">1995</option><option value="1996">1996</option><option value="1997">1997</option><option value="1998">1998</option><option value="1999">1999</option><option value="2000">2000</option><option value="2001">2001</option><option value="2002">2002</option><option value="2003">2003</option><option value="2004">2004</option><option value="2005">2005</option><option value="2006">2006</option><option value="2007">2007</option><option value="2008">2008</option><option value="2009">2009</option><option value="2010">2010</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option></select>
                    </div></div>
          </div>
      </div><div class="container-inline-date"><div class="form-item form-field-candidat-formation emaxp-date-end-wrapper form-type-date-select form-item-field-candidat-formation-und-0-emaxp-date-end" id="edit-field-candidat-formation-und-0-emaxp-date-end-wrapper">
        <label for="edit-field-candidat-formation-und-0-emaxp-date-end">Date de fin </label>
      <div id="edit-field-candidat-formation-und-0-emaxp-date-end" class="date-padding clearfix"><div class="date-month"><select class="emaxp-date-end form-select" id="edit-field-candidat-formation-und-0-emaxp-date-end-month" name="field_candidat_formation[und][0][emaxp_date_end][month]" style="color: rgb(0, 0, 0);"><option value="" selected="selected">-Mois</option><option value="1">Jan</option><option value="2">Fév</option><option value="3">Mar</option><option value="4">Avr</option><option value="5">Mai</option><option value="6">Juin</option><option value="7">Juil</option><option value="8">Aoû</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Déc</option></select></div><div class="date-year"><select class="emaxp-date-end form-select" id="edit-field-candidat-formation-und-0-emaxp-date-end-year" name="field_candidat_formation[und][0][emaxp_date_end][year]" style="color: rgb(0, 0, 0);"><option value="" selected="selected">-Année</option><option value="1966">1966</option><option value="1967">1967</option><option value="1968">1968</option><option value="1969">1969</option><option value="1970">1970</option><option value="1971">1971</option><option value="1972">1972</option><option value="1973">1973</option><option value="1974">1974</option><option value="1975">1975</option><option value="1976">1976</option><option value="1977">1977</option><option value="1978">1978</option><option value="1979">1979</option><option value="1980">1980</option><option value="1981">1981</option><option value="1982">1982</option><option value="1983">1983</option><option value="1984">1984</option><option value="1985">1985</option><option value="1986">1986</option><option value="1987">1987</option><option value="1988">1988</option><option value="1989">1989</option><option value="1990">1990</option><option value="1991">1991</option><option value="1992">1992</option><option value="1993">1993</option><option value="1994">1994</option><option value="1995">1995</option><option value="1996">1996</option><option value="1997">1997</option><option value="1998">1998</option><option value="1999">1999</option><option value="2000">2000</option><option value="2001">2001</option><option value="2002">2002</option><option value="2003">2003</option><option value="2004">2004</option><option value="2005">2005</option><option value="2006">2006</option><option value="2007">2007</option><option value="2008">2008</option><option value="2009">2009</option><option value="2010">2010</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option></select></div></div>
      </div>
      </div><div class="form-item form-field-candidat-formation emaxp-date-now-wrapper form-type-checkbox form-item-field-candidat-formation-und-0-emaxp-date-now" id="edit-field-candidat-formation-und-0-emaxp-date-now-wrapper">
      <input class="emaxp-date-now form-checkbox" type="checkbox" id="edit-field-candidat-formation-und-0-emaxp-date-now" name="field_candidat_formation[und][0][emaxp_date_now]" value="1">  <label class="option" for="edit-field-candidat-formation-und-0-emaxp-date-now">à aujourd'hui </label>

      </div>
      <div class="form-item form-field-candidat-formation emaxp-title-wrapper form-type-textfield form-item-field-candidat-formation-und-0-emaxp-title" id="edit-field-candidat-formation-und-0-emaxp-title-wrapper">
      <input class="emaxp-title form-text" placeholder="Titre complet de votre formation" type="text" id="edit-field-candidat-formation-und-0-emaxp-title" name="field_candidat_formation[und][0][emaxp_title]" value="" size="60" maxlength="128">
      </div>
      <div class="form-item form-field-candidat-formation emaxp-establishment-wrapper form-type-textfield form-item-field-candidat-formation-und-0-emaxp-establishment" id="edit-field-candidat-formation-und-0-emaxp-establishment-wrapper">
      <input class="emaxp-establishment form-text" placeholder="Nom de l'école ou de l'établissement" type="text" id="edit-field-candidat-formation-und-0-emaxp-establishment" name="field_candidat_formation[und][0][emaxp_establishment]" value="" size="60" maxlength="128">
      </div>
      <div class="form-item form-field-candidat-formation emaxp-description-wrapper form-type-textarea form-item-field-candidat-formation-und-0-emaxp-description" id="edit-field-candidat-formation-und-0-emaxp-description-wrapper">
      <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea"><textarea class="emaxp-description form-textarea" placeholder="Saisissez une description détaillée de votre formation" id="edit-field-candidat-formation-und-0-emaxp-description" name="field_candidat_formation[und][0][emaxp_description]" cols="60" rows="5"></textarea><div class="grippie"></div></div>
      </div>

      </div>
      <div class="close-item"><a id="close-item-edit-field-candidat-formation-und-0" title="Supprimer"></a></div></div>
      </td><td class="delta-order tabledrag-hide" style="display: none;"><div class="form-item form-field-candidat-formation field_candidat_formation-delta-order-wrapper form-type-select form-item-field-candidat-formation-und-0--weight" id="edit-field-candidat-formation-und-0-weight-wrapper">
        <label class="element-invisible" for="edit-field-candidat-formation-und-0-weight">Poids pour la ligne 1 </label>
      <select class="field_candidat_formation-delta-order form-select" id="edit-field-candidat-formation-und-0-weight" name="field_candidat_formation[und][0][_weight]" style="color: rgb(0, 0, 0);"><option value="0" selected="selected">0</option></select>
      </div>
      </td>
    </tr>
  </tbody>
</table>
 #}
{% block javascripts %}
  <script>
  $('.')
  $('.datepicker').datepicker({
              format: 'dd/mm/yyyy',
                          autoclose: true
                      });
  </script>
{% endblock %}
